# Connectivity/Dependencies
node_modules/
**/node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
**/.env

# Build Artifacts
build/
dist/
stats.json

# IDEs & Editors
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Testing
coverage/
.nyc_output/

# Temporary Files
tmp/
temp/

# Uploads
app/services/uploads/uploads/*.jpg
app/services/uploads/uploads/*.jpeg
app/services/uploads/uploads/*.png
app/services/uploads/uploads/*.gif
app/services/uploads/uploads/*.webp
app/services/uploads/uploads/*.svg
app/services/uploads/uploads/*.tiff
app/services/uploads/uploads/*.ico