@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

:root {
  --brand-primary: #FF385C;
  --brand-hover: #D90B3E;
  --font-primary: 'Circular', -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  background-color: #ffffff;
  color: #222222;
  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
}
